/node_modules

# Dependency directories
/.pnp
.pnp.js
# Testing
/coverage
# Production
/build
/dist
# Miscellaneous
.DS_Store
.env
.env.local
.env.development.local


/.wwebjs_cache
/.wwebjs_auth


.env.test.local
.env.production.local
npm-debug.log*
